<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login page</title>
</head>

<body>
  <h1>login page</h1>
  <p style="color: red;">{{ .error }}</p>

  <form action="/login" method="POST">
    <div>
      <label for="id">id</label>
      <input type="text" name="id" id="id">
    </div>
    <div>
      <label for="password">password</label>
      <input type="text" name="password" id="password">
    </div>
    <button type="submit">submit</button>
  </form>
</body>

</html>
